@media(min-width: 320px) and (max-width: 480px) {
    #logo a {
        margin-top: 20px;
        font-size: 30px;
        margin-left: 0px;
        position: absolute;
        left: 20px;
        color: white;
        text-shadow: 3px 2px 2px rgb(251, 255, 0);
        display: flex;
        height: 40px;
        animation: dropdown 1s ease-in alternate infinite;
        list-style-type: none;
        text-decoration: none;
    }

    .btn-header {
        color: white;
        border: none;
        width: 300px;
        background-color: transparent;
        height: 25px;
        margin-top: 50px;
        margin-left: 300px;
        display: flex;
    }

    .btn-header #close {
        position: absolute;
        display: none;
    }

    #menu {
        height: 380px;
        text-align: center;
        margin-top: 110px;
        background-color: #000000;
        display: none;
        width: 580px;
        margin-left: -410px;
        flex-direction: column;
        padding-top: 50px;
    }

    main {
        background: rgb(0, 0, 0);
        height: 700px;
        width: 480px;
        color: white;
        display: flex;
        position: relative;
        top: 120px;
    }

    .minhaFoto img {
        border-radius: 50%;
        width: 120px;
        height: 120px;
        box-shadow: 2px 2px 12px rgb(251, 255, 0);
        animation: sombra 2s infinite alternate;
    }

    .minhaFoto {
        height: 350px;
        margin-right: 350px;
        margin-top: 150px;
        transform: translateX(-35px);

    }

    .boasVindas {
        height: 300px;
        width: 320px;
        margin-top: 410px;
        left: 30px;
        position: absolute;
        text-align: center;
    }

    #apresentacao {
        display: block;
        width: 420px;
        height: 200px;
        margin-left: 30px;
        margin-right: 40px;
        margin-top: 80px;
    }

    #apresentacao h1 {
        font-size: 50px;
    }

    #apresentacao p {
        font-size: 20px;
    }

    #linha {
        border-right: 2px solid rgb(251, 255, 0);
        animation: pisca 800ms infinite normal, typing 2s steps(40) normal;
        white-space: nowrap;
        width: 160px;
        overflow: hidden;
    }


    #download {
        padding: 10px 20px;
        border-radius: 50px;
        margin-top: 70px;
        position: relative;
        top: 70px;
        left: 85px;
        border: 0;
        background-color: white;
        box-shadow: rgba(255, 255, 255, 0.267) 0 0 8px;
        letter-spacing: 1.5px;
        text-transform: uppercase;
        font-size: 15px;
        transition: all .5s ease;
        text-decoration: none;
        color: black;
    }

    section {
        height: 900px;
        width: 480px;
        color: white;
        display: flex;
    }


    #sobreMim {
        background-color: rgba(0, 0, 0, 0.945);
        height: 1400px;
        display: inline-block;
        position: relative;
    }

    #container2 {
        width: 310px;
        height: 600px;
        margin-top: 50px;
        margin-left: 30px;
        display: flex;
        position: relative;
        flex-direction: column;
        /* text-align: center; */
    }

    #container2 h1 {
        font-size: 45px;
        text-shadow: 3px 2px 8px rgb(251, 255, 0);
    }

    #container2 p {
        margin-top: 40px;
        font-size: 18px;
    }

    .carrossel {
        position: relative;
        height: 650px;
        width: 400px;
        position: absolute;
        right: 90px;
        top: 460px;
        overflow: hidden;
    }

    .carrossel h1 {
        font-size: 45px;
        text-shadow: 3px 2px 8px rgb(251, 255, 0);
        margin-left: 50px;
    }

    .info-card {
        height: 200px;
        width: 300px;
        margin-left: 20px;
        position: absolute;
        display: flex;
        opacity: 0;
    }

    .cards {
        display: flex;
        position: relative;
        height: 500px;
        width: 1500px;
        right: 1140px;
        animation: carrossel 10s ease alternate-reverse infinite;
        margin-top: 50px;
        gap: 80px;
        padding: 0 50px;
    }

    .card img {
        width: 120px;
        height: 120px;
        margin-top: 20px;
    }

    .card {
        height: 500px;
        width: 300px;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        text-align: center;
    }

    #projetos {
        background: rgb(0, 0, 0);
        height: 2100px;
        display: flex;
    }

    #tituloProjetos {
        font-size: 45px;
        text-shadow: 3px 2px 8px rgb(251, 255, 0);
        position: absolute;
        height: 80px;
        margin-left: -50px;
        margin-top: -100px;
    }

    .Projetos {
        position: relative;
        margin-top: 150px;
        padding: 0;
        margin-left: 0;
        left: -40px;
        height: 900px;
        gap: 80px;
        width: 1600px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding-left: 10px;
    }


    .card-projetos {
        width: 370px;
        height: 400px;
        font-size: 13px;
        text-align: center;
    }

    .Projetos img {
        height: 160px;
        width: 280px;
        box-shadow: 1px 1px 12px rgb(255, 255, 255);
        border-radius: 5px;
    }

    .flip {
        transition: transform 0.8s;
        transform-style: preserve-3d;
        border: 1px solid rgb(255, 251, 0);
        box-shadow: .2px 0.2px 10px rgb(251, 255, 0);
        padding: 30px 20px;
        width: 320px;
        height: 360px;

    }

    .info-atras {
        position: absolute;
        bottom: 0px;
        right: -10px;
        height: 250px;
        width: 300px;
        display: flex;
        flex-direction: column;
        gap: 20px;
        align-items: center;
    }

    footer {
        position: relative;
        height: 150px;
        width: 480px;
        background-color: rgba(0, 0, 0, 0.945);
        color: white;
    }

    .logo-contato {
        width: 250px;
        margin-left: 135px;
        margin-top: 10px;
        display: inline-block;
    }


    .contato {
        margin-top: 10px;
        margin-left: -20px;
        width: 400px;
        display: inline-block;
        font-size: 15px;
        text-align: center;
    }
}

@media(min-width: 1300px) and (max-width: 1600px) {
    #menu {
        position: relative;
        right: 200px;
    }


    #logo a {
        margin-left: 0px;
        left: 50px;  
    }

    .minhaFoto {
        position: relative;
        left: 80px;
    }

    #container2 {
        position: relative;
        right: 30px;
    }

    #tituloProjetos {
        right: 400px;

    }

    .Projetos {
        width: 1000px;
        margin: 150px auto;
    }


    footer {
        position: absolute;
        height: 150px;
        background-color: rgba(0, 0, 0, 0.945);
        color: white;
    }

    .logo-contato {
        width: 250px;
        margin-left: 1000px;
        bottom: 50px;
        display: inline-block;
        position: relative;
    }

    .contato {
        margin-top: 30px;
    }
}