.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #333;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  z-index: 1; /* garante que a barra de navegação esteja sempre no topo */
}

.navbar a {
  color: #fff;
  text-decoration: none;
  margin-right: 20px;
}

.content {
  padding-top: 60px; /* adiciona espaço para a barra de navegação */
  height: 2000px;
  background-color: black;
}
.navbar-scroll {
  position: fixed;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  padding: 5px;
}